{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
           <div class="row">
              <form method="post"  enctype="multipart/form-data">
                     {% csrf_token %}
                    <div class="form-row">
                      <div class="form-group col-md-6 mb-0">
                        {{ form.fname|as_crispy_field }}
                      </div>
                      <div class="form-group col-md-6 mb-0">
                        {{ form.lname|as_crispy_field }}
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6 mb-0">
                        {{ form.email|as_crispy_field }}
                      </div>
                        <div class="form-group col-md-6 mb-0">
                        {{ form.image|as_crispy_field }}
                      </div>
                    </div>
                    {{ form.address|as_crispy_field }}
                    {% if not user.is_authenticated %}
                        {{ form.user }}
                    {% endif %}
                  {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <button type="submit" class="btn btn-primary">Add</button>
              </form>
            </div>

    </div>
{% endblock %}
