{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
     <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">Register</div>
                        <div class="card-body">
                            <form name="my-form" action="" method="post">
                                {% csrf_token %}
                                <div class="form-group row">
{#                                 <label for="full_name" class="col-md-4 col-form- text-md-right">{{ form.first_name.label_tag }}</label>#}
                                    <div class="col-md-6">
                                        {{ form.username|as_crispy_field }}
                                    </div>
                                </div>


                                <div class="form-group row">
{#                                    <label for="user_name" class="col-md-4 col-form-label text-md-right">User Name</label>#}
                                    <div class="col-md-6">
                                       {{ form.email|as_crispy_field }}
                                    </div>
                                </div>

                                <div class="form-group row">
{#                                    <label for="phone_number" class="col-md-4 col-form-label text-md-right">Phone Number</label>#}
                                    <div class="col-md-6">
                                        {{ form.password1|as_crispy_field }}
                                    </div>
                                </div>

                                <div class="form-group row">
{#                                    <label for="present_address" class="col-md-4 col-form-label text-md-right">Present Address</label>#}
                                    <div class="col-md-6">
                                        {{ form.password2|as_crispy_field }}
                                    </div>
                                </div>
                                    <div class="col-md-6 offset-md-4">
                                        <button type="submit" class="btn btn-primary">
                                        Register
                                        </button>
                                        <a href="{% url 'student:login' %}" class="btn btn-primary">
                                        Login
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}
